---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base"
;

body {
    font-family: Roboto Mono !important;
    font-weight: 300 !important;
    color: white !important;
    padding: 25px 50px;
    background-color: #202020 !important;
}

hr {
    border-color: teal !important;
}

.btn {
    hr {
        border-color: #202020 !important;

    }
}


#stockCanvas {
    width: 400px;
    height: 200px;
    // border: solid 1px yellow;
    background-color: #303030;
}

.btn-primary {
    background-color: #1e88e5 !important;
    border: none !important;
}

.btn-primary-alt {
    @extend .btn-primary;
    color: white;
    background-color: #ff5252 !important;
}

.btn-info {
    background-color: #536dfe !important;
    border: none !important;
}

.btn-secondary {
    background-color: #607D8B !important;
    font-weight: 300 !important;
}

.btn-success {
    background-color: #2bbd7e !important;
    font-weight: 300 !important;
}

.btn-danger {
    background-color: #fdd835;
}

.btn-secondary:hover {
    background-color: #007070;
}

#terminalContainer {
    height: 130px;
    background-color: #303030;
}

#terminal {
    color: #a5ff36;
}

.icon {
    height: 100px;
    width: 100px;

    -webkit-filter: drop-shadow(10px 10px 10px #222);
    filter: drop-shadow(10px 10px 10px #222);
}
