---
layout: default
---
<div class="mb-3 d-flex justify-content-end">
  <button id="save" class="btn btn-info btn-sm mr-2">Save</button>
  <button id="load" class="btn btn-info btn-sm">Load</button>
</div>
<div class="row no-gutters mb-3 py-3 px-3" id="terminalContainer">
  <div id="terminal" class="col-10"></div>
  <div class="col-2 d-flex justify-content-end">
    <div class="d-flex justify-content-center" style="width:100px">
      <img src="martycoin.png" class="icon align-self-center" id="coin"/>
    </div>
  </div>
</div>

<button id="mineBlock" class="btn btn-primary">Mine block</button>
<button id="toggleAutoMiner" class="btn btn-secondary" style="display: none">auto_mine.exe off</button>
<div id="hash" class="d-inline"></div>
<hr>
<div class="row no-gutter">
  <div class="col">
    <h3>Resources:</h3>
    <div class="my-2">
      <div id="money" class="d-inline"></div>
      <div id="moneyPerSecond" class="text-muted" style="display: none"></div>
    </div>

    <div class="my-2">
      <div id="energy" class="d-inline"></div>
      <div id="energyPerSecond" class="d-inline text-muted"></div>
    </div>


    <div id="AIResources" class="my-2" style="display: none;">
      <div id="researchPoints" class="d-inline"></div>
      <div id="RPsPerSecond" class="d-inline text-muted"></div>
    </div>

    <div class="my-2">
      <div id="coins" class="d-inline"></div>
      <button id="sell" class="btn btn-secondary btn-sm ml-2">Sell martCoin</button>
      <div id="coinsPerSecond" class="text-muted" style="display: none"></div>
    </div>

    <hr>

    <h3>Items:</h3>
    <div id="CPUContainer" class="my-3">
      <button id="buyCPU" class="btn btn-primary">Buy CPU</button>
      <div id="CPUCost" class="d-inline"></div>
    </div>

    <div id="superComputerContainer" style="display: none" class="my-3">
      <button id="buySuperComputer" class="btn btn-primary">Buy Supercomputer</button>
      <div id="superComputerCost" class="d-inline"></div>
    </div>

    <div id="factoryContainer" style="display: none" class="my-3">
      <button id="buyFactory" class="btn btn-primary">Buy mining factory</button>
      <div id="factoryCost" class="d-inline"></div>
    </div>

    <div class="my-3">
      <button id="buySolarPanel" class="btn btn-primary-alt">Buy solar panel</button>
      <div id="solarCost" class="d-inline"></div>
    </div>

    <div id="reactorContainer" style="display: none" class="my-3">
      <button id="buyReactor" class="btn btn-primary-alt">Buy reactor</button>
      <div id="reactorCost" class="d-inline"></div>
    </div>

    <div class="my-3">
      <button id="buyBattery" class="btn btn-primary-alt">Buy battery</button>
      <div id="batteryCost" class="d-inline"></div>
    </div>

    <hr>

    <h3>Upgrades:</h3>
    <div id="upgrades"></div>
  </div>

  <div class="col">
    <div id="autoSellerContainer" style="display: none">
      <h3>Autoseller module:<button id="toggleAutoSeller" class="btn btn-secondary btn-sm float-right">auto_sell.exe off</button></h3>
      <div class="my-2">
        <div id="coinMarketValue" class="d-inline"></div>
      </div>
      <div id="autoSellerTick" class="my-2"></div>
      <button id="decreaseCoinMarketValue" class="btn btn-secondary btn-sm">Decrease</button>
      <button id="increaseCoinMarketValue" class="btn btn-secondary btn-sm ml-1">Increase</button>
    </div>


    <div id="stockContainer" style="display: none">
      <hr>
      <h3>Stock trader module:</h3>
      <div id="stock" class="my-2"></div>
      <div id="drift" class="my-2">Current drift: 0.000002</div>
      <div id="volatility" class="my-2">Current volatility: 0.05</div>

      <div class="my-3">
        <input id="buyStockInput" type="number" value="0">
        <button id="buyStock" class="btn btn-secondary btn-sm ml-1">Buy stock</button>
        <button id="buyStockMax" class="btn btn-secondary btn-sm ml-1">Buy all</button>
      </div>

      <div class="my-3">
        <input id="sellStockInput" type="number" value="0">
        <button id="sellStock" class="btn btn-secondary btn-sm ml-1">Sell stock</button>
        <button id="sellStockMax" class="btn btn-secondary btn-sm ml-1">Sell all</button>
      </div>

      <canvas id="stockCanvas"></canvas>
    </div>


    <div id="AIContainer" style="display: none">
      <hr>
      <h3>AI network module:</h3>
      <div id="memory" class="my-2"></div>
      <div id="memoryAI" class="my-2"></div>
      <div id="totalThreads" class="my-2"></div>
      <div class="d-inline-block">
        <div class="my-2 d-flex">
          <div class="mr-auto"><button id="removeThread0" class="btn btn-secondary btn-sm mr-3" data-id="0">-</button>research.exe</div>
          <div class="ml-3"><div id="thread0" class="d-inline">(0)</div><button id="addThread0" class="btn btn-secondary btn-sm ml-3" data-id="0">+</button></div>
        </div>

        <div class="my-2 d-flex">
          <div class="mr-auto"><button id="removeThread1" class="btn btn-secondary btn-sm mr-3" data-id="1">-</button>scan_nodes.exe</div>
          <div class="ml-3"><div id="thread1" class="d-inline">(0)</div><button id="addThread1" class="btn btn-secondary btn-sm ml-3" data-id="1">+</button></div>
        </div>

        <div class="my-2 d-flex">
          <div class="mr-auto"><button id="removeThread2" class="btn btn-secondary btn-sm mr-3" data-id="2">-</button>deploy_malware.exe</div>
          <div class="ml-3"><div id="thread2" class="d-inline">(0)</div><button id="addThread2" class="btn btn-secondary btn-sm ml-3" data-id="2">+</button></div>
        </div>

        <div class="my-2 d-flex">
          <div class="mr-auto"><button id="removeThread3" class="btn btn-secondary btn-sm mr-3" data-id="3">-</button>mine.exe</div>
          <div class="ml-3"><div id="thread3" class="d-inline">(1)</div><button id="addThread3" class="btn btn-secondary btn-sm ml-3" data-id="3">+</button></div>
        </div>
      </div>
    </div>
  </div>
</div>




