<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  <script type="text/javascript">{% include _assets/js/utilities.js  %}</script>
  <script type="text/javascript">{% include _assets/js/frontendFunctions.js  %}</script>
  <script type="text/javascript">{% include _assets/js/items.js  %}</script>
  <script type="text/javascript">{% include _assets/js/stockMarket.js  %}</script>
  <script type="text/javascript">{% include _assets/js/upgrades.js  %}</script>
  <script type="text/javascript">{% include _assets/js/ai.js  %}</script>
  <script type="text/javascript">{% include _assets/js/player.js  %}</script>
  <script type="text/javascript">{% include _assets/js/main.js  %}</script>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
